*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 /*font-family: 'Source Code Pro', monospace;*/
html{
    font-size: 100%;
    font-family: 'Source Code Pro', Arial;
}

 .header{
    height: 40rem;
    background-image: linear-gradient(-5.71deg, #fff 49.9%, transparent 50.1%), 
        url("../assets/images/A_HeaderMountain02.png");
    background-size: 100vw 10vw, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: center 100%, center center;
    border-color: none;
 }
 .container{
    width: 75rem;
    margin: 0px auto;
 }
 .navigation__list_items{
    list-style-type: none;
    display: block;
    float: left;
 }
 
 .navigation__list_items_link{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0.5rem 0.25rem 0.25rem 0.25rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    display: block;
    text-shadow: 0 0 0.4rem black;
    letter-spacing: 0.1rem;
 }
 .navigation__list_items_link:hover{
    border-bottom: 0.21rem solid rgba(36, 255, 218, 0.925);
 }
.navigation__list_items_logo{
    width: 4rem;
    height: 4rem;
    
}

/*get Logo path  use CurrentColor */

.navigation__list_items_logo{
    fill: currentColor
}
.navigation__list_items_link-logo{
    margin-top: 1rem;
}
.navigation__list_items_link-logo:hover{
    border-bottom: none;
}

.icon{
    fill: currentColor;
    height: 2rem;
    vertical-align: middle;
    position: relative;
}
.navigation_list_items__menu{
    float: right;
    font-size: 2rem;
}
.navigation_list_items__menu .navigation__list_items_link{
    margin-top: 1rem;
}

.navigation_list_items__menu .navigation__list_items_link:hover{
    border-bottom: none;
}
.header__heading_container{
    clear: both;
}
.header__heading_main{
    padding-top: 5rem;
    font-size: 7rem;
    text-align: center;
    line-height: 85%;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 0 0.3rem black;
}
.header__heading_sub{
    margin-top: 1rem;
    font-size: 1.75rem;
    text-align: center;
    letter-spacing: 1rem;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 0 0.1rem rgb(31, 11, 11);
}