@use "../abstracts/" as *;
@use "sass:color";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 /*font-family: 'cinzel', monospace;*/
html{
    font-size: 100%;
    font-family: 'cinzel', sans-serif;

    text-transform: capitalize;
}

@mixin -generate-selection(){
    color: $color-secoundary-light;
    background-color: color.scale($toures__icon-color, $lightness: -20%);
}

::-moz-selection{
    @include -generate-selection();
}

::selection{
    @include -generate-selection();
}