@font-face{
    font-family: "cinzel";
    font-style: normal;
    font-weight: 400 900;
    text-transform: capitalize;
    font-display: swap;
    src: url(../fonts/Cinzel/Cinzel-VariableFont_wght.ttf) format("truetype");
}
