@use "../abstracts/" as *;
@use "sass:color";

.footer{
    background-color: $color-footer-bg;
    font-family: Helvetica, sans-serif;
}
.footer__container{
    @include make-container();
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;

    @media (max-width: $breakpoint-sm){
        flex-direction: column;
    }
}
.footer__container-text{
    flex: 0 0 auto;
    @media (max-width: $breakpoint-sm) {
        order: 2;
    }
}
.footer__logo-column{
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7rem;
    @media (max-width: $breakpoint-lg) {
        margin-left: 6rem;
    }
    @media(max-width: $breakpoint-sm){
        order: 1;
        justify-content: start;
        margin-left: 0rem;
    }
}

.footer__container-heading{
    color: color.scale($color-secoundary, $lightness: 20%);
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.1em;
    text-transform: uppercase;
    max-width: 30rem;
    @media (max-width: $breakpoint-lg){
        font-size: 3rem;
    }
    @media (max-width: $breakpoint-md){
        font-size: 3rem;
    }
}

.footer__container-paragraph{
    color: color.scale($color-secoundary, $lightness: 20%);
    padding: 1rem 0;
    font-size: 0.7em;
}
.footer__container-contact{
    position: relative;
    margin-bottom: 0.5rem;
}
.footer__container-contact-link{
    position: absolute;
    white-space: nowrap;
    z-index: 1;
    background-color: color.scale($green-color-icon, $blackness: 50%);
    align-items: center;
    padding: 1.5rem 2rem;

    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: #fff;
    text-decoration: none;
    left: 2rem;
    top: 0.4rem;
    width: 18rem;
    text-align: center;
    overflow: hidden;

    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        bottom: 0;
        background-color: color.scale($green-color-icon, $blackness: 25%);
        z-index: -1;
        transition: transform 0.5s ease-in-out;
    }
    &:hover{
        &::after{
            transform: translate(100%, 0);
        }
    }
}

.footer__container-contact-logo{
    position: relative;
    z-index: 3;
    height: 5rem;
    width: 5rem;
    background-color: color.scale($green-color-icon, $blackness: 30%);
    border-radius: 1000px;
    text-align: center;
    font-size: 1.6rem;
    color: $color-footer-bg;

    &-mail{
        line-height: 2.9em;
    }
    &-phone{
        line-height: 3.4em;
    }
}

.footer__logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #42b09e;
    font-size: 10rem;
    background-image: linear-gradient(120deg, color.scale($color-primary, $blackness: 30%) 0%, $color-secoundary-dark 100%);
    padding: 0.1em;
    box-shadow: 0 0 0.03em #546d5c;
    @media (max-width: $breakpoint-lg){
        font-size: 9rem;
    }
    @media (max-width: $breakpoint-md) {
        font-size: 7rem;
    }
    @media (max-width: $breakpoint-sm){
        font-size: 5rem;
        margin: 1rem 0;
    }
    @media (max-width: $breakpoint-xs){
        font-size: 4rem;
    }
}
.footer__logo-single-border{
    display: flex;
    justify-content: center;
    padding: 0.2em;
    border: 0.03em solid #4ca161;
    border-radius: 50%;
}
.footer-svg-logo{
    color: #42b068;
}