@use "../abstracts/" as *;
@use "sass:color";

.sidenav{
    font-family: Helvetica;
    display: none;
    .sidenav__opened:checked ~ & {
        display: block;
    }
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 400;
}

.sidenav__container{
    position: absolute;
    right: 3rem;
    top: 7.2rem;
    height: 35rem;
    width: 20rem;
    border-radius: 1rem;
    background-color: rgb(5, 31, 47);
    box-shadow: 0 0 0.7rem #084f5e;
}

.sidenav__close{
    position: absolute;
    display: block;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    color: transparent;
    width: 1.5rem;
    height: 1.5rem;
    text-shadow: 0 0 1rem #15d8ff;
    border-radius: 50rem;
    background-image: 
    linear-gradient(-45deg, transparent 40%, $color-secoundary-light 45%, $color-secoundary-light 55%, transparent 55%),
    linear-gradient(45deg, transparent 40%, $color-secoundary-light 45%, $color-secoundary-light 55%, transparent 55%);
}

.sidenav__nav{
    margin-top: 6rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    list-style-type: none;
}
.sidenav__nav-link{
    font-size: 1.6rem;
    font-weight: 500;
    display: block;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    color: color.scale($color-secoundary-light, $blackness: 25%);
    text-shadow: 0 0 0.1rem #04181d;
    transition: color 0.2s ease-in-out, font-weight 0.2s ease-in-out;
    border-bottom: 0.001rem solid #426f78;
    &:hover{
        font-weight: 600;
        text-shadow: 0 0 0.3rem #000000;
        color: color.scale($color-secoundary-light, $lightness: -35%);
    }
}