@use "../../abstracts/" as *;
@use "sass:math";
@use "sass:color";

.about{
    padding-top: 4rem;
    padding-bottom: 2rem;
    background-color: $color-secoundary-dark;
    font-family: Helvetica;
}
.about__slideshow{
    position: relative;
}
.about__image-slideshow{
    position: absolute;
    top: 0;
    left: 0;
}

.about__image-slideshow-3{
    animation: about__image-slideshow-3;
    animation-timing-function: ease-in-out;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes about__image-slideshow-3{
    0%{
        opacity: 1;
    }
    22.5%{
        opacity: 1;
    }
    27.5%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }

}
.about__image-slideshow-1{
    animation: about__image-slideshow-1;
    animation-timing-function: ease-in-out;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes about__image-slideshow-1{
    0%{
        opacity: 1;
    }
    40.5%{
        opacity: 1;
    }
    70.5%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }

}

.about__image-slideshow-2{
    animation: about__image-slideshow-2;
    animation-timing-function: ease-in-out;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes about__image-slideshow-2{
    0%{
        opacity: 1;
    }
    80.5%{
        opacity: 1;
    }
    98.5%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }

}

.about__image{
    $border-size: 30rem;
    border-radius: math.div($border-size, 2);
    width:  $border-size;
    height: $border-size;
    overflow: hidden;
    float: left;
    object-fit: cover;
    shape-outside: circle(50%);
    margin-right: 2rem;

    @media (max-width: $breakpoint-lg) {
        width: $border-size * 0.8;
        height: $border-size * 0.8;
    }
    /** 992px oder schmaler */
    @media (max-width: $breakpoint-md) {
        width: $border-size * 0.7;
        height: $border-size * 0.7;
    }
    /** 768px oder schmaler */
    @media (max-width: $breakpoint-sm) {
        width: $border-size * 0.4;
        height: $border-size * 0.4;
    }
    /** 576px oder schmaler */
    @media (max-width: $breakpoint-xs) {
        width: $border-size * 0.3;
        height: $border-size * 0.3;
    }
}
.about__heading{
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: color.scale($color-secoundary, $lightness: 20%);
    font-size: 2.5rem;
    letter-spacing: 0.1em;
    @media (max-width: $breakpoint-lg){
        margin-top: 1rem;
        padding-bottom: 1rem;
        font-size: 2rem;
    }
    @media (max-width: $breakpoint-md){
        margin-top: 0.7rem;
        padding-bottom: 0.7rem;
        font-size: 1.8rem;
    }
}

.about__text{
    padding-top: 2rem;
    color: color.scale($color-secoundary, $lightness: -15%);
    &::before{
        display: inline-block;
        content: "";
        height: 0.25rem;
        width: 6rem;
        background-color: color.scale($color-secoundary, $lightness: 25%);
        margin-left: 1rem;
    }

    @media(max-width: $breakpoint-lg){
        padding-top: 0.5rem;
    }
    @media (max-width: $breakpoint-md){
        padding-top: 1rem;
    }
    @media (max-width: $breakpoint-sm){
        &::before{
            margin-left: 0.1rem;
            width: 4rem;
            background-color: color.scale($color-secoundary-light, $lightness: 35%);
        }
    }
}
.about__description{
    font-weight: 200;
    margin-bottom: 1rem;
}

.about__quote{
    &::before{
        content: '"';
    }
    &::after{
        content: "\"";
    }
}