@use "../../abstracts/" as *;
@use "sass:color";


.gallery{
    font-family: Helvetica, sans-serif;
    margin-top: 2rem;
}

.gallery__heading{
    padding-top: 2rem;
    padding-bottom: 2rem;

    font-family: "../../../fonts/Cinzel";
    font-style: normal;
    text-transform: capitalize;
    font-size: 2rem;
    color: $color-secoundary-dark;
    font-weight: 600;
    letter-spacing: 0.21rem;
    text-align: center;
    text-shadow: 0 0 0.1rem #000;

    @media (max-width: $breakpoint-sm){
        font-size: 1.1rem;
        font-weight: 600;
        padding: 1rem 0 2rem 0;
    }
}

.gallery__container{
    @include make-container;
}

.gallery__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.gallery__list-items{
    display: block;
}
.gallery__list-image{
    display: block;
    width: 100%;
}
.gallery__list--first{
    grid-column-start: 1;
    grid-column-end: span 2;

    grid-row-start: 1;
    grid-row-end: span 2;
}