.motivation{
    margin-top: 2rem;
}

.motivation__column-text{
    float: left;
    width: 33%;
}
.motivation__column-images{
    float: left;
    width: 66%;

}
.motivation__image{
    max-width: 50%;
    margin-left: 25%;
}