@use "../../abstracts/" as *;
@use "sass:math";

.offers{
    min-height: 4rem;
}

.offers__container{
    display: flex;
    flex-wrap: wrap;
    margin-left: -$offers__margin;
    margin-right: -$offers__margin;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.offers__card{
    box-shadow: 0.5rem 0.5rem 1.9rem #67578b;
    flex: 1 0 0px;
    padding: 0;
    margin: 0 $offers__margin;
    border-top: $offers_border-width solid $color-secoundary-light;
    border-left: $offers_border-width solid $color-secoundary-light;
    border-right: $offers_border-width solid $color-secoundary-light;

    position: relative;
}

.offers__card::after{
    position: absolute;
    display: block;
    content: "";
    bottom: 0;
    left: -$offers_border-width;
    right: -$offers_border-width;

    height: 0.8rem;
    background-color: $border_bottom-color;
    border-left: $offers_border-width solid $border_left-and-right-color;
    border-right: $offers_border-width solid $border_left-and-right-color;
}

.offers__image-container{
    margin: -$offers_border-width -$offers_border-width 0 -$offers_border-width;
    background-color: $color-secoundary;
}

.offers__image{
    width: 100%;
    opacity: 70%;
    mix-blend-mode: hard-light;
}