@use "../../abstracts/" as *;

$-tours-icon-size: 3rem;
$-tours-animation-duration: 0.30s;

.tours {
  background: $tours__background-color;
  position: relative;
  padding-bottom: 7rem;
}

%tours__before-and-after {
  bottom: 0;
  left: 0;
  right: 0;
  content: "Muster UI";
  position: absolute;
  text-transform: uppercase;
  text-align: center;
  /* Set the font size to be the minimum of 1/9the  of the viewport width or 10rem */
  font-size:  min(calc(100vw / 9), 10rem);
  font-weight: bold;
  color: $tours__background-color;
  text-shadow: 0 0 0.7px #fff;
  /* Prevent the text from wrapping */
  white-space: nowrap;
  /* hide any overflow */
  overflow: hidden;
}

@mixin -tours__before-and-after-stroke($color) {
  /* Apply text stroke styles if supported by the browser  */

  @supports(-webkit-text-stroke: 0.3px #{$color}) or (text-stroke: 0.3px #{$color}) {
    /* Apply text stroke to .tours::before pseudo-element */
    -webkit-text-stroke: 0.3px #{$color};
    text-stroke: 0.3px #{$color};
    text-shadow: none;
  }
}

.tours::before {
  @extend %tours__before-and-after;
  @include -tours__before-and-after-stroke(#1affe1);
}


.tours::after {
  @extend %tours__before-and-after;

  @include -tours__before-and-after-stroke(transparent);
}

.tours__container {
  position: relative;
  z-index: 10;
  /* padding variabl included from mixins */
  @include make-container();

  @media (max-width: $breakpoint-md){
    padding: 0;
  }
  @media (max-width: $breakpoint-xs){
    padding: 0;
  }
}

.tours-heading {        
  color: #fff;
  text-align: center;
  padding-top: 2rem;
  font-family: "../../../fonts/Cinzel";
  font-size: min(calc(100vw / 3), 2.8rem);
  font-weight: 600;
  letter-spacing: 0.2rem;

  background: linear-gradient(to right, #16ffff, #1a0947);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (max-width: $breakpoint-md){
    font-size: 2rem;
    font-weight: 600;
  }

  @media (max-width: $breakpoint-sm){
    font-size: 1rem;
    font-weight: 600;

    background: linear-gradient(to right, #690c69, #16ffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.tours__card-icon {
  width: $-tours-icon-size;
  display: block;
  color: #1affe1;
}

.tours__card-icon-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* Set the initial transformation */

  transform: translate(0, 0);

  transition: transform $-tours-animation-duration ease-in-out;
  /* Apply the following styles when hovering over the parent element with the class .tours__card */

  .tours__card:hover & {
    /* Move the element horizontally using a calculated value */
    transform: translate(calc(50% - 1.5rem), 0);
  }
}

.tours__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.tours__card {
  /* 0 0 mean whidth and heigh are not allowed to change */
  flex: 0 0 calc((71rem / 5));
  width: 20%;
  position: relative;
  height: 20rem;
  margin-top: 2rem;
  overflow: hidden;
  border-radius: 0.4rem;
  box-shadow: 0 0 0.7rem #4effe7 transparent;  

  transform: scale(1);
  transition: transform $-tours-animation-duration ease-in-out,
    box-shadow $-tours-animation-duration ease-in-out,
    z-index $-tours-animation-duration linear;
  z-index: 0;

  &:hover {
    transform: scale(1.1);
    z-index: 9999;
    transition: transform $-tours-animation-duration ease-in-out,
      box-shadow $-tours-animation-duration ease-in-out,
      z-index 0s linear;
    box-shadow: 0 0 0.25rem #1affe1;
  }
}

.tours__cards-icon-background {
  background-color: $tours__icon-background-color;

  /* Position the Element */
  position: absolute;
  top: 0;
  left: 0;
  height: $-tours-icon-size;
  width: 100%;
  /* Initial transformation to move the element off the screeen */
  transform: translate(calc(-100% + #{$-tours-icon-size}), 0);
  transition: transform $-tours-animation-duration ease-in-out;

  .tours__card:hover & {
    /* Move the element back to its Original position */
    transform: translate(0, 0);
  }

}

.tours__card-img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  filter: brightness(80%);
}

.tours__card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  color: #fff;
  padding: 0.7rem 0.5rem 0 0.5rem;

  background-image: linear-gradient(180deg, transparent 0%, rgb(0, 0, 0, 0.25) 20%);
  transition: transform $-tours-animation-duration ease-in-out;

  transform: translate(0, calc(100% - 4.8rem));

  .tours__card:hover & {
    transform: translate(0, 0);
  }
}

.tours__card-heading {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-family: "../../../fonts/Cinzel";
  font-weight: 500;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tours__card-location {
  font-size: 1rem;
  margin-bottom: 0.4rem;
  display: flex;
}

.tours__card-location-icon {
  font-size: 0.7rem;
  color: $green-color-icon;
}

.tours__card-location-text {
  font-family: Helvetica ;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 2rem;
  padding-left: 0.5rem;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tours__card-description {
  font-size: 0.6rem;
  font-family: Helvetica;
  font-weight: 100;

  background-image: linear-gradient(90deg, $tours__icon-background-color 60%, transparent 60%);
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: 100% 0.1rem;
  padding: 0.6rem 0rem
}