@use "../../abstracts" as *;

$-tours-background-color: $color-secoundary-dark;

.tours {
  position: relative;
  background-color: $-tours-background-color;
  padding-bottom: 5rem;
}

%toures__before-and-after {
  left: 0;
  right: 0;
  text-align: center;
  bottom: 0;
  width: 100%;
  position: absolute;
  content: " Development Area";
  text-transform: uppercase;
  color: $-tours-background-color;
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 0 0 1px rgb(255, 255, 255);
}

//@extend %tours-after and before 
.tours::before {
  @extend %toures__before-and-after;

  @supports(-webkit-text-stroke: 1px #8760d193) or (stroke: 1px #8760d193) {
    -webkit-text-stroke: 1px transparent;
    text-stroke: 1px transparent;
    text-shadow: none;
  }
}

.tours::after {
  @extend %toures__before-and-after;

  @supports(-webkit-text-stroke: 1px #0dff5e93) or (stroke: 1px #8760d193) {
    -webkit-text-stroke: 1px #8760d193;
    text-stroke: 1px #fff;
    text-shadow: none;
  }
}


.tours::before {
  -webkit-text-stroke: 1px #05ff8221;
  text-stroke: 1px #fff;
}

.tours::after {
  -webkit-text-stroke: 1px transparent;
  text-stroke: 1px transparent;
}


.tours__container {
  position: relative;
  z-index: 1;
  @include make-container();
}

.tours-heading {
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.3rem;
  text-align: center;

  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 2rem;
}

/*tours card */

.tours__cards{
  display: flex;
}
.tours__card{
  width: 20%;
  position: relative;
  height: 20rem;
  overflow: hidden;

}
.tours__card-img{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  filter: brightness(99%);
}
.tours__card-content{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  color: #fff;
  padding: 0 1rem;
  text-shadow: 0 0 0.32rem #000000;

  background-image: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 0.2) 20% );
}

.tours__card-heading{
  font-size: 0.7rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
}

/*Location icon*/
.tours__card-location{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.6rem;
  margin-bottom: 0.66rem;
  display: flex;
}
.tours__card-description{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.6rem;
  padding: 0.8rem 0;
  margin-bottom: 0.8rem;
  background-image: linear-gradient(90deg, $toures__icon-color, 60%, transparent 60%);
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: 100% 2px;

}
.tours__card-location-text{
  line-height: 1.4rem;
}
/* cards icon */
.tours__card-location-icon{
  font-size: 0.6rem;
}

.tours__cards-icon-container{
  background-color:  $toures__icon-color;
  position: absolute;
  top: 0;
  left: 0;
}

.tours__card-icon{
  display: block;
  width: 3rem;
  color: #fff;
}