@use "../abstracts/" as *;
@use "sass:color";

.button {
    color: #fff;
    font-family: "../../../fonts/Cinzel";
    font-weight: 600;
    text-transform: capitalize;
    text-decoration: none;
    border-radius: 10000rem;
    border: 1px solid $color-secoundary-light;
    padding: 1rem 4rem;
    text-align: center;
    display: inline-block;

    &:hover {
        color: color.scale($color-secoundary-light, $blackness: 40%);
    }

    @media (max-width: $breakpoint-sm) {
        color: rgb(223, 223, 223);

        &:hover {

            border: 1px solid $color-secoundary-light;
        }
    }
}
.button-white{
    color: #fff;
    &:hover{
        color: rgb(223, 223, 223);
        background-color: color.scale($color-secoundary-dark, $blackness: -10%);
        /*border: 1px solid color.scale($color-secoundary-light, $blackness: 60%);*/
        border: 1px solid  color.scale($color-secoundary-light, $lightness: 70%);
    }

    @media (max-width: $breakpoint-sm){
        background-color: color.scale($color-secoundary-light, $blackness: 60%);
        border: 1px solid  color.scale($color-secoundary-light, $lightness: 70%);
        &:hover{
            background-color: color.scale($color-secoundary-dark, $lightness: 5%);
            border: 1px solid  color.scale($color-secoundary-light, $lightness: -40%);
        }
    }
}

.button-secoundary-hover{
    background-color: $color-secoundary-dark;
    border: 1px solid $border_left-and-right-color;

    &:hover{
        mix-blend-mode: difference;
        background-color: color.scale($color-element-darker, $lightness: -20%);
        color: #ececec;
    }
}

.button-slim-rm-padding{
    padding-left: 2rem;
    padding-right: 2rem;
}

.button-dark{
    color: color.scale($color-element-darker, $lightness: 20%);
}

.button-form{
    font-family: inherit;
    border: none;
    padding: 0.99rem 1.5rem;
    color: $color-secoundary-light;
    background-color: color.scale($color-secoundary-light, $blackness: 35%);
    box-shadow: 0 0 0.4rem $color-secoundary-dark;

    &:hover{
        color: color.scale($color-secoundary-dark, $alpha: -25%);
    }
}