@use "../abstracts/" as * ;
@use "sass:color";

$-form__input-padding: 0.8rem 1rem;
$-form__input-border: 0.02rem;

.form_horizontal{
    display: flex;
    flex-wrap: wrap;
}

.form__group{
    position: relative;
    margin-bottom: 1rem;
    .form_horizontal > &{
        margin-right: 0.7rem;
        margin-bottom: 1rem;
    }
}

.form__input{
    background: transparent;
    border: $-form__input-border groove color.scale($color-secoundary-light, $lightness: -60% );
    border-radius: 100px;
    color: $color-secoundary-light;
    width: 12rem;
    padding: $-form__input-padding;
    font-size: 1.3rem;
    box-shadow: 0 0 0.35rem $color-secoundary-dark;
    &:focus{
        outline: none; /*0.013rem solid color.scale($color-secoundary-light, $lightness: -55% );*/
    }
    &::placeholder{
        color: transparent;
        text-shadow: none;
    }
}

.form__label{
    position: absolute;
    top: $-form__input-border;
    left: 0;
    margin: $-form__input-padding;
    font-size: 1.2rem;
    transform: scale(1) translate(0, 0);
    transform-origin: 0% 50%;

    will-change: transform;
    transition: transform 0.5s ease-in-out;
    /*class + ~ */
    .form__input:focus ~ &,
    .form__input[placeholder]:not(:placeholder-shown) ~ & {
        transform: scale(0.60) translate(0.5rem, 4rem);
    }
}

.form__radio-item-radio{
    display: inline-block;
    position: relative;
    top: -0.125rem;
}
.form__radio-item-label{
    display: inline-block;
    font-size: 1.1rem;
    padding-top: 0.4rem;
    color: color.scale($color-secoundary-light, $blackness: 30%);
    transition: color 0.3s ease-in-out;
    padding-left: 0.4em;
/*    .form__radio-item-radio:checked ~ & {
        transform: scale(1.1);
        font-weight: bold;
        font-size: 1rem;
    }
*/
}

.form__radio-items-white{
    .form__radio-item-radio{
        display: none;
    }
    .form__radio-item-label::before{
        display: inline-block;
        position: relative;
        content: "";
        width: 1.2em;
        height: 1.2em;
        border: 0.1em solid $color-secoundary-light;
        border-radius: 10000px;
        top: 0.45em;
        margin-right: 0.5em;
        background-image: radial-gradient(circle at center center,
        color.scale($color-primary, $lightness:  -35% ), 50%, transparent 50%);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 0 0;

        transition:  background 0.5s ease-in-out, border 0.4s ease-in-out;
    }
    .form__radio-item-radio:checked ~ .form__radio-item-label::before{
        background-size:  100% 100%;
    }
}