@use "sass:color";

$color-primary: rgba(36, 255, 218, 0.925) !default;
$toures__icon-color: #0dbe5dec !default;
$tours__background-color: #083a42 !default;
$color-secoundary: #3d7a77 !default;
$color-secoundary-light: #00f2ff !default;
$color-secoundary-dark: #011820 !default;
$red-color-icon: #1fff93 !default;
/** Breakpoints */
/*Larg*/
$breakpoint-lg: 75em !default;
/*medium*/
$breakpoint-md: 62em !default;
/*small*/
$breakpoint-sm: 48em !default;
/*extra small*/
$breakpoint-xs: 36em !default;

/** 1200px oder schmaler */
@media (max-width: $breakpoint-lg) {
}
/** 992px oder schmaler */
@media (max-width: $breakpoint-md) {
}
/** 768px oder schmaler */
@media (max-width: $breakpoint-sm) {
}
/** 576px oder schmaler */
@media (max-width: $breakpoint-xs) {
}

$motivation-hover: 0.33rem solid $color-primary;

