@use "sass:color";
@use "sass:math";

$color-primary: rgba(36, 255, 218, 0.925) !default;
$toures__icon-color: #0dbe5dec !default;
$tours__background-color: #031627 !default;
$tours__icon-background-color: #3ca7b8 !default;
$color-secoundary: #3d7a77 !default;
$color-secoundary-light: #00f2ff !default;
$color-secoundary-dark: #011820 !default;
$green-color-icon: #1fff93 !default;
$color-element-darker: #2d7f8b !default;


$slope-incline: math.asin(0.1);

/* $offers_border-width*/
$offers_border-width: math.div(1rem, 16);
$border_bottom-color: #3ca7b8 !default;
$border_left-and-right-color: #3abbcf !default;

$-half-pixel-width: math.div(1rem, 32);

$offers__margin: 1rem;
/** Breakpoints */
/*Larg*/
$breakpoint-lg: 75em!default;
/*medium*/
$breakpoint-md: 62em!default;
/*small*/
$breakpoint-sm: 48em!default;
/*extra small*/
$breakpoint-xs: 36em !default;

/** 1200px oder schmaler */
@media (max-width: $breakpoint-lg) {
}
/** 992px oder schmaler */
@media (max-width: $breakpoint-md) {
}
/** 768px oder schmaler */
@media (max-width: $breakpoint-sm) {
}
/** 576px oder schmaler */
@media (max-width: $breakpoint-xs) {
}

$motivation-hover: 0.33rem solid $color-primary;

